:root {
  /* colors */
  --light-blue: #b2d8ff;
  --light-gray: #f1f1f1;
  --heading-color: #282828;
  --text-color: #333333;
  --white: #ffffff;
  --gray: #999999;
  --sunny-yellow: #ffd700;
  --sunny-orange: #ff8c00;
  --rainy-dark-blue: #0077be;
  --rainy-teal: #008080;
  --cloudy-light-gray: #dcdcdc;
  --cloudy-dark-gray: #a9a9a9;

  /*button transition*/
  --btn-transition: .3s ease;

  /*fonts*/
  --text-font-family: 'Noto Sans Georgian', 'serif';
  --heading-font-family: 'Roboto Mono', 'Oxygen Mono', 'sans-serif';
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #b2d8ff;
}
button {
  cursor: pointer;
  border: none;
  background: transparent;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
